@charset "UTF-8";


body {
    background-color: rgb(34, 34, 34);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'poppinsregular';
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

h1 {
    font-weight: 200;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
}

a:hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#inscreva-se-btn {
    border: 2px solid rgb(132, 14, 201);
    border-radius: 15px;
    padding: 10px;
}

#inscreva-se-btn:hover {
    background-color: rgb(132, 14, 201);
    color: white;
}

h2 {
    font-size: 56px;
    text-align: center;
    margin-top: 80px;
    color: rgb(132, 14, 201);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    text-decoration: none;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-family: 'poppinslight';
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
    margin: 20px auto;
}

form [type="submit"]:hover {
    cursor: pointer;
}